body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color:#000000 ;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; /* Changer de colonne à ligne */
}

.text-logo {
    text-decoration: none;
    color: white;
  }
  
  .logo-text {
    text-align: center;
    margin-right: 20px;
  }
  
  .logo-initials {
    font-size: 60px;
    font-weight: bold;
    color: white;
    letter-spacing: -4px;
    line-height: 1;
  }
  
  .logo-name {
    font-size: 14px;
    letter-spacing: 6px;
    color: white;
    font-family: 'Arial', sans-serif;
    margin-top: 5px;
  }
  



.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.nav-links li a {
    text-decoration: none;
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
    color: white;
    font-size: 24px; /* Taille réduite */
    padding: 8px 12px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-links li a:hover {
    color: #007bff;
    background-color: #eaeaea;
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 0;
    min-width: 150px;
    z-index: 1000;
    border-radius: 5px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow {
    margin-left: 5px;
    font-size: 14px;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }

    .logo {
        margin-top: 15px;
    }
}
